<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.games.cartwheelgalaxy.stressbits">

    <supports-screens
        android:resizeable="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"  />

    <application
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_sb"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round_sb"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5267056163100832~9942579333"/>

        <activity
            android:screenOrientation="sensorLandscape"
            android:configChanges="orientation|keyboardHidden"

            android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:screenOrientation="sensorLandscape"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:name=".MainActivity">
        </activity>

        <activity
            android:screenOrientation="sensorLandscape"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:name=".LoseActivity">
        </activity>

        <activity
            android:screenOrientation="sensorLandscape"
            android:configChanges="orientation|keyboardHidden"
            android:name=".WinActivity">


        </activity>
    </application>
</manifest>
